@font-face {
  font-family: 'MiFont'; 
  src: url('../../assets/font/Monoton-Regular.ttf') format('woff2'); 
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.landing-container {
  background-image: url("../../assets/PixelEvolution.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.content {
  text-align: center;
  color: white;
  margin-top: 10%;
}

.landing-button {
  padding: 10px 20px;
  font-size: 1rem;
  width: 100px;
  border: 2px solid #000;
  border-radius: 5px;
  color: rgb(23, 33, 34);
  cursor: pointer;
}

.landing-image {
  max-width: 150px;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 1rem; 
  margin-left: 3rem; 
}


.landing-image-timig {
  max-width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 8rem; 
  margin-left: 3rem; 
  animation: fadeInOut 2s infinite; 
}
